.lead {
  max-width: 984px;
  margin: 56px auto 92px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .lead {
    margin: 56px auto 88px;
  }
}
