.place {
  max-width: 984px;
  display: grid;
  grid-template-columns: minmax(auto, 460px) minmax(auto, 484px);
  grid-template-areas:
    "place__title place__website"
    "place__image place__paragraphs";
  grid-gap: 48px 40px;
  margin: 80px auto 0;
}

.place:first-of-type {
  margin-top: 0;
}

@media screen and (max-width: 1024px) {
  .place {
    grid-template-columns: 440px 456px;
    margin: 80px 48px 0;
    grid-gap: 48px 32px;
  }
}

@media screen and (max-width: 1023px) {
  .place {
    grid-template-columns: minmax(340px, 440px) minmax(352px, 456px);
  }
}

@media screen and (max-width: 768px) {
  .place {
    margin: 73px 24px 0;
    grid-gap: 48px 28px;
    grid-template-columns: 340px 352px;
  }
}

@media screen and (max-width: 767px) {
  .place {
    grid-template-columns: minmax(calc(40% - 48px), 340px) minmax(calc(60% - 48px), 352px);
  }
}

@media screen and (max-width: 550px) {
  .place {
    width: 100%;
    margin: 64px 0 0;
    grid-template-columns: 1fr;
    grid-template-areas:
    "place__title"
    "place__website"
    "place__image"
    "place__paragraphs";
    grid-gap: 32px 0;
  }
}
